__pycache__
.coverage
.DS_Store
.mypy_cache
.nox
.pyre
.pytest_cache
.python-version
.ruff_cache
.scannerwork
*.dat
*.lprof
*.out
*.png
*.so
**/build
**/cython_example/*.c
pdoc_docs
performance/extensions/rust_extension/target
profile.html
profile.json
test_file.txt
venv